# ----- datasets/models ----- # 
*/datasets/
*/models/
*/code/
*.zip

# ----- cache files ----- #
*/__pycache__/
*.pyc
.DS_Store

# ----- model checkpoints/results ----- #
results/

# ----- notebooks ----- #
cos_notebooks/
notebooks/
*.ipynb 